.dark-mode {
  background-color: black;
  color: cyan;
}

.dark-mode .sidebar {
  background-color: black;
  color: cyan;
  box-shadow: inset -2px 0 0 white;
}

.dark-mode .nav-link {
  color: cyan !important;
}

.dark-mode li {
  color: cyan;
}