$font-family: -apple-system, BlinkMacSystemFont, "Themify", Arial, sans-serif;

// Breakpoints
$small-0: 0px;
$extra-small-screen: 576px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
