// Color Scheme
// ------------


//Light Mode
$primary-lt-color: #007bff;
$secondary-lt-color: #6c757d;

//Dark Mode
$primary-dk-color: #007bff;
$secondary-dk-color: #6c757d;

$font-family: -apple-system, BlinkMacSystemFont, "Themify", Arial, sans-serif;

// Breakpoints
$small-screen: 576px;
$medium-screenA: 577px;
$medium-screenB: 768px;
$large-screenA: 769px;
$large-screenB: 992px;
$Extra-large-screenA: 993px;
$Extra-large-screenB: 1200px;